[Desktop Entry]
Encoding=UTF-8
Name=ClipManager
Version=0.1
Comment=Manage clipboard history
GenericName=ClipManager
Terminal=false
Type=Application
Exec=clipmanager
Icon=clipmanager.ico
Categories=Application;Accessories;