[Desktop Entry]
Version=0.4
Name=ClipManager
GenericName=Clipboard manager
Comment=Manage clipboard history
Icon=clipmanager
Terminal=false
Type=Application
Exec=clipmanager
Categories=Utility;