[Desktop Entry]
Encoding=UTF-8
Name=ClipManager
Version=0.3
Comment=Manage clipboard history
GenericName=ClipManager
Terminal=false
Type=Application
Exec=clipmanager
Icon=clipmanager.png
Categories=Application;Accessories;